{% extends 'userportal/base1.html' %}
{% block container %}
<table class='table'>
    <tr>
        <thead class = 'thead-light'>
            <tr>
                <th scope='col'>ID</th>
                <th scope='col'>Task_Name</th>
                <th scope='col'>Description</th>
                <th scope='col'>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td><a href="">{{task.id}}</a></td>
                <td>{{task.task_name}}</td>
                <td>{{task.task_description}}</td>
                <td>
                    <a class="btn btn-danger" href = "">Delete</a>
                    <a class="btn btn-primary" href = "">Update</a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% endblock %}