<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-digimedia-v3.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/animated.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css'%}">
</head>
<body>
    {% block content %}{% endblock content %}
    <script src=" {% static 'vendor/jquery/jquery.min.js' %} "></script>
    <script src=" {% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
    <script src=" {% static 'assets/js/owl-carousel.js' %} "></script>
    <script src=" {% static 'assets/js/animation.js' %} "></script>
    <script src=" {% static 'assets/js/imagesloaded.js' %} "></script>
    <script src=" {% static 'assets/js/custom.js' %} "></script>
    

</body>
</html>